/.mcuxpressoide_packages_support
/.metadata
/.vscode
/Actividad 1
/AzureRTOS_TAD_logs
/FreeRTOS_TAD_logs
/LCD_Gil
/MiniReto2
/MKL25Z4_Project
/Practica 3
/Practica3_2
/PracticaADC
/ZephyrRTOS_TAD_logs